.mobile-menu {
  position: fixed;
  background-color: var(--primary-white-color);
  display: none;
  padding: 40px;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 100;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu.is-open {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-button {
  background-color: var(--primary-white-color);
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mobile-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-button--close {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-40%, 30%);
}

.mobile-nav__item {
  display: block;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-nav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-nav__link--current {
  color: var(--accent-color);
}

.mobile-conect__item {
  display: block;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-conect__link {
  text-decoration: none;
}
.mobile-conect__link--blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @media screen and (max-width: 377px) {
    font-size: 24px;
    line-height: 1.16;
  }
}
.mobile-conect__link--gray {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: inherit;
}
.mobile-contacts {
  display: flex;
}
.mobile-contacts__item {
  padding-right: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}
.mobile-contacts__link {
  color: var(--accent-color);
  text-decoration: none;
}
